# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPYNB Checkpoints & Colab artifacts
.ipynb_checkpoints/
.virtualenv/
Data_Syn_V2_Local_Assets.zip

# Hugging Face & Cache Model
.cache/
huggingface/
downloads/

# Project Specific Data (Prevents pushing local dataset files & checkpoints to Git)
data_syn_v2/group_chats/*.json
data_syn_v2/private_chats/*.json
data_syn_v2/simulation_checkpoint.json

# Environment variables / Credentials
.env
secret.json
